/* Coolors Exported Palette - coolors.co/2c1320-5f4b66-a7adc6-8797af-56667a */

/* HSL */
$color1: hsla(329%, 40%, 12%, 1);
$color2: hsla(284%, 15%, 35%, 1);
$color3: hsla(228%, 21%, 72%, 1);
$color4: hsla(216%, 20%, 61%, 1);
$color5: hsla(213%, 17%, 41%, 1);

/* RGB */
$color1: rgba(44, 19, 32, 1);
$color2: rgba(95, 75, 102, 1);
$color3: rgba(167, 173, 198, 1);
$color4: rgba(135, 151, 175, 1);
$color5: rgba(86, 102, 122, 1);
